<h2 mat-dialog-title>Edit Description</h2>
<mat-dialog-content class="mat-typography">

    
    <form [formGroup]="descriptionForm" (ngSubmit)="onFormSubmit()" class="example-form">
        <br>
        
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Description</mat-label>
            <input formControlName="description" matInput #message maxlength="256" placeholder="Parking..." >
            <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
        </mat-form-field>

        <!-- <button mat-raised-button color="primary">Save</button> -->
    </form> 

    
   
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="openEditor()">Edit</button> -->
    <button mat-raised-button color="primary" (click)="onFormSubmit()">Save</button>
</mat-dialog-actions>
