<mat-tab-group> 
    <mat-tab label="Icon editor (Day)">
      <app-icon-editor [iconType]="'Day'"></app-icon-editor>
    </mat-tab>
    <mat-tab label="Icon editor (Night)">
      <app-icon-editor [iconType]="'Night'"></app-icon-editor>
    </mat-tab>
    <mat-tab label="Description editor"> 
      <app-icon-editor-description></app-icon-editor-description>
    </mat-tab>
    <mat-tab label="Type editor"> 
      <app-icon-editor-type></app-icon-editor-type>
    </mat-tab>
    <mat-tab label="Raw data"> 
      <pre>
        {{drawableItem | json}}
      </pre>
    </mat-tab>
</mat-tab-group>





