.fab-main {
    position: fixed;
    right: 1em;
    bottom: 1em;
    margin: 1em;
    margin-right: 2em;
    padding: 1em;
    border-radius: 15px;
}

.save-icon {
    margin-right: 0.5em;
}

.editor {
    display: block;
    overflow: auto;
    max-height: 90%;
}

.save-btn {
    z-index: 999;
}
