<div class="editor">
  <mat-tab-group [(selectedIndex)]="selectedTab"> 
      <mat-tab label="Icon editor (Day)">
        <app-icon-editor [iconType]="'Day'" [notifier]="childNotifier" (unsavedChangesEvent)="setDayIconState($event)"></app-icon-editor>
      </mat-tab>
      <mat-tab label="Icon editor (Night)">
        <app-icon-editor [iconType]="'Night'" [notifier]="childNotifier" (unsavedChangesEvent)="setNightIconState($event)"></app-icon-editor>
      </mat-tab>
      <mat-tab label="Description editor"> 
        <app-icon-editor-description [notifier]="childNotifier" (unsavedChangesEvent)="setDescriptionState($event)"></app-icon-editor-description>
      </mat-tab>
      <mat-tab label="Type editor"> 
        <app-icon-editor-type [notifier]="childNotifier" (unsavedChangesEvent)="setTypeState($event)"></app-icon-editor-type>
      </mat-tab>
      <mat-tab label="Raw data"> 
        <pre>
          {{drawableItem | json}}
        </pre>
      </mat-tab>
  </mat-tab-group>

  <button mat-raised-button class="fab-main save-btn" color="primary" (click) = "saveChangesToFile()">
    <mat-icon class="save-icon">save</mat-icon>Save Changes
  </button>
</div>






