.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.example-full-width {
    width: 100%;
}

.demo-table {
    width: 100%;
}
  
.demo-button-container {
    padding-bottom: 16px;
}
  
.demo-button + .demo-button {
    margin-left: 8px;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.table-container {
    padding: 1rem;
}

.item-2 {
    margin-top: 5rem;
    padding-left: 5rem;
    padding-right: 1rem;
}

.color-picker {
    padding-bottom: 2rem;
}
