.file-input {
    display: none;
  }

  .file-upload {
    font-size: 16px;
    margin: 10px 40px;
  }

  .btn {
    color: white;
    /* border: 1px;
    border-radius: 15px;
    border-style: solid;
    
    border-color: white; */
    height: 3em;
}

  .white-icon {
    color: white;
  }