.file-input {
    display: none;
  }

  .file-upload {
    font-size: 16px;
    margin: 10px 40px;
  }

  .upload-btn {
    background: rgb(103, 58, 183);
    margin: 10px;
  }

  .white-icon {
    color: white;
  }