.file-input {
    display: none;
  }

  .file-upload {
    margin: 10px 50px;
  }

  .upload-btn {
    background: rgb(103, 58, 183);
    margin: 10px;
  }

  .white-icon {
    color: white;
  }