<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="0px"
     fxLayoutGap.xs="0"
>
  <div class="item item-5" fxFlex="50%" fxFlexOffset.xs="0"> 
      <form [formGroup]="descriptionForm" class="example-form" (ngSubmit)="onFormSubmit()">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Type</mat-label>
          <input matInput
                 aria-label="State"
                 [matAutocomplete]="auto"
                 (input) = "changeState()"
                 (change) = "changeState()"
                 formControlName="description">
          <mat-autocomplete #auto="matAutocomplete" >
            <mat-option *ngFor="let type of filteredTypes | async" [value]="type.description + '|' + type.type">
              <mat-icon aria-hidden="false" aria-label="Example home icon">room</mat-icon>
              <span>{{type.description}}</span> |
              <small>Code: {{type.type}}</small>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      
        <!-- <button mat-raised-button color="primary">Save</button> -->
      </form>
  </div>
  <div class="item-2 item-4" fxFlex="15%" fxFlexOffset.xs="0">
    <mat-slide-toggle color="primary" (change)="changeSearchMethod()">
      Search by type?
    </mat-slide-toggle>
  </div>
</div>

