.table-container {
    display: block;
    overflow: auto;
    max-height: 90%;
    padding: 1rem;
    max-width: 80%;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td, th {
    width: 15%;
}

a {
    text-decoration: underline;
    cursor: pointer;
}