mat-grid-tile {
    background:rgb(243, 241, 245);
    color: white;
    cursor: pointer;
}

.highlight-tile {
    outline: red solid 2px;
}

mat-grid-list {
    margin: 10px;
}

mat-slider {
    width: 300px;
}

.item {
    color: #ffffff;
    padding: 1em 1em;
    text-transform: uppercase;
}

.item-4 {
    text-align:right;
}

.item-5 {
    text-align:left;
}

.fab-main {
    position: fixed;
    right: 1em;
    bottom: 1em;
    margin: 1em;
    margin-right: 2em;
}

.file-input {
    display: none;
}

.delete-icon {
    font-size: 2em;
    max-height: 40px;
}

.remove-btn {
    margin-left: 1em;
}

mat-grid-tile div {
    width: 100%;
    text-align: right;
}

.icon-grid {
    display: block;
    overflow: auto;
    max-height: 90%;
}
