mat-grid-tile {
    background:rgb(243, 241, 245);
    color: white;
    cursor: pointer;
}

mat-grid-list {
    margin: 10px;
}

mat-slider {
    width: 300px;
}

.item {
    color: #ffffff;
    padding: 1em 1em;
    text-transform: uppercase;
}

.item-4 {
    text-align:right;
}