.canvas {
    cursor: crosshair;
}

.container {
    margin: 0px;
 } 

.container2 {
   /* margin: 10px;*/
   margin-top: 10px;
}
  
.item {
    color: #ffffff;
    padding: 1em 1em;
    text-transform: uppercase;
}
  
.item-1 {
    background-color: #f3f1f5;
    text-align:center;
}

.item-2 {
   background-color: #f3f1f5;
   text-align:left;
   /* padding-left: 2%;
   padding-right: 2%; */
}

.item-3 {
    background-color: #f3f1f5;
    text-align:center;
}

.item-4 {
    background-color: #f3f1f5;
    text-align:right;
}

.item-5 {
    background-color: #f3f1f5;
    text-align:left;
    padding-bottom: 2rem;
    padding-left: 1rem;
}

.item-1-dark {
    background-color: #35363A;
    text-align:center;
}

.item-2-dark {
    background-color: #35363A;
    text-align:right;
}

.item-3-dark {
    background-color: #35363A;
    text-align:center;
}

.item-4-dark {
    background-color: #35363A;
    text-align:right;
}

.item-5-dark {
    background-color: #35363A;
    text-align:center;
}

.item-4 button {
    padding: 7px;
    margin: 5px;
}

.item-4-dark button {
    padding: 7px;
    margin: 5px;
}

.mat-button-toggle{
    background-color: #f3f1f5;
    color: #673ab7;
}

.mat-button-toggle-checked{
    background-color: #673ab7;
    color: #f3f1f5;
}

.color-picker-col {
    color: #673ab7;
}

.mat-button-toggle-dark{
    background-color: #35363A;
    color: #f3f1f5;
}

.mat-button-toggle-checked-dark{
    background-color: #f3f1f5;
    color: #35363A;
}

.file-input {
    display: none;
}

.color-limit {
    padding: 10px;
    text-align: left;
}

#undo_redo_btns {
    margin-right: 50px;
}

.add-btn {
    margin-top: 20em;
    margin-bottom: 20em;
}

.hidden-canvas {
    display: none;
}

.disabled-btn {
    pointer-events:none;
    color: grey;
}

.dark-icon {
    color: #f3f1f5;
}

.map-preview {
    padding: 10px;
    padding-top: 3rem;
    text-align:left; 
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.color-tile {
    cursor: pointer;
}

.highlight-tile {
    outline: red solid 2px;
}

.color-accordion {
   max-width: 200px;
}

.highlight-tile-default {
    outline: black solid 1px;
}


.mat-button-toggle-group-tools {
    width: 98px;
}

.mat-button-toggle-group-undo-redo {
    margin-top: 10px;
}



  


