canvas {
    cursor: crosshair;
}

.canvas-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tools-container {
    position:relative;
    text-align:center;
}


