<div class="container2"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="0px"
     fxLayoutGap.xs="0"
>
  <div class="item " [ngClass]="darkMode  ? 'item-1-dark' : 'item-1'" fxFlex="10%">
    <div *ngIf="!hideTools">
      <mat-button-toggle-group [formControl]="toolOptions" vertical >
      
        <!-- <mat-button-toggle [disabled]="limitToolUse ? 'disabled': null"  [ngStyle]="{'pointer-events': limitToolUse ? 'none': 'auto'}" value="line" aria-label="Text align center" (click) = "useLine()"
        #tooltip="matTooltip" matTooltip="Line" [matTooltipPosition]="'right'" >
          <mat-icon>minimize</mat-icon>
        </mat-button-toggle> -->
        <mat-button-toggle [disabled]="limitToolUse ? 'disabled': null" [ngClass]="limitToolUse ? 'disabled-btn' : ''"  value="line" aria-label="Text align center" (click) = "useBrush()"
        #tooltip="matTooltip" matTooltip="Line" [matTooltipPosition]="'right'" >
          <mat-icon>brush</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle [disabled]="limitToolUse ? 'disabled': null" [ngClass]="limitToolUse ? 'disabled-btn' : ''"  value="line" aria-label="Text align center" (click) = "useLine()"
        #tooltip="matTooltip" matTooltip="Line" [matTooltipPosition]="'right'" >
          <mat-icon>minimize</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle [disabled]="limitToolUse ? 'disabled': null" [ngClass]="limitToolUse ? 'disabled-btn' : ''" value="fill" aria-label="Text align right" (click) = "useFill()"
        #tooltip="matTooltip" matTooltip="Fill" [matTooltipPosition]="'right'"  >
          <mat-icon>format_color_fill</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle [disabled]="limitToolUse ? 'disabled': null" [ngClass]="limitToolUse ? 'disabled-btn' : ''" value="filled rectangle" aria-label="Text align right" (click) = "useFilledRectangle()"
        #tooltip="matTooltip" matTooltip="Filled Rectangle" [matTooltipPosition]="'right'" >
          <mat-icon>rectangle</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle [disabled]="limitToolUse ? 'disabled': null" [ngClass]="limitToolUse ? 'disabled-btn' : ''" value="rectangle" aria-label="Text align right" (click) = "useRectangle()"
        #tooltip="matTooltip" matTooltip="Rectangle" [matTooltipPosition]="'right'"  >
          <mat-icon>crop_square</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle [disabled]="limitToolUse ? 'disabled': null" [ngClass]="limitToolUse ? 'disabled-btn' : ''" value="filled circle" aria-label="Text align right" (click) = "useFilledCircle()"
        #tooltip="matTooltip" matTooltip="Filled Circle" [matTooltipPosition]="'right'"  >
          <mat-icon>circle</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle [disabled]="limitToolUse ? 'disabled': null" [ngClass]="limitToolUse ? 'disabled-btn' : ''" value="circle" aria-label="Text align right" (click) = "useCircle()"
        #tooltip="matTooltip" matTooltip="Circle" [matTooltipPosition]="'right'"  >
          <mat-icon>radio_button_unchecked</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle [disabled]="limitToolUse ? 'disabled': null" [ngClass]="limitToolUse ? 'disabled-btn' : ''" value="flip vertically" aria-label="Text align right" (click) = "flipVertically()"
        #tooltip="matTooltip" matTooltip="Flip Vertically" [matTooltipPosition]="'right'"  >
          <mat-icon>swap_vert</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle [disabled]="limitToolUse ? 'disabled': null" [ngClass]="limitToolUse ? 'disabled-btn' : ''" value="flip horizontally" aria-label="Text align right" (click) = "flipHorizontally()"
        #tooltip="matTooltip" matTooltip="Flip Horizontally" [matTooltipPosition]="'right'"  >
          <mat-icon>swap_horiz</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle [disabled]="limitToolUse ? 'disabled': null" [ngClass]="limitToolUse ? 'disabled-btn' : ''" value="rotate left" aria-label="Text align right" (click) = "rotateLeft()"
        #tooltip="matTooltip" matTooltip="Rotate Left" [matTooltipPosition]="'right'"  >
          <mat-icon>rotate_left</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="color dropper" aria-label="Text align right" (click) = "getColor()"
        #tooltip="matTooltip" matTooltip="Color Dropper" [matTooltipPosition]="'right'"  >
          <mat-icon>colorize</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle [disabled]="limitToolUse ? 'disabled': null" [ngClass]="limitToolUse ? 'disabled-btn' : ''" value="eraser" aria-label="Text align right" (click) = "erase()"
        #tooltip="matTooltip" matTooltip="Erase" [matTooltipPosition]="'right'"  >
          <mat-icon>auto_fix_high</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="inverse" aria-label="Text align right" (click) = "inverseColors()"
        #tooltip="matTooltip" matTooltip="Invert Colors" [matTooltipPosition]="'right'"  >
          <mat-icon>invert_colors</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="limit" aria-label="Text align right" [matMenuTriggerFor]="menu"
        #tooltip="matTooltip" matTooltip="Limit Colors" [matTooltipPosition]="'right'"  >
          <div *ngIf="garminCols.warning; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock>
            <mat-icon matBadge="!" matBadgeColor="warn">palette</mat-icon>
          </ng-template>
          <ng-template #elseBlock>
            <mat-icon>palette</mat-icon>
          </ng-template>
          <!-- <mat-icon matBadge="!" matBadgeColor="warn">palette</mat-icon> -->
          <!-- <mat-menu #menu="matMenu">
            <button mat-menu-item (click) = "findNearestColor('Garmin16')">
              <mat-icon>color_lens</mat-icon>
              <span>Garmin 16</span>
            </button>
            <button mat-menu-item (click) = "findNearestColor('Garmin64')">
              <mat-icon>color_lens</mat-icon>
              <span>Garmin 64</span>
            </button>
            <button mat-menu-item (click) = "findNearestColor('Garmin256')">
              <mat-icon>color_lens</mat-icon>
              <span>Garmin 256</span>
            </button>
          </mat-menu> -->
        </mat-button-toggle>
        <mat-button-toggle value="no tool" aria-label="Text align right" (click) = "stopToolUse()"
        #tooltip="matTooltip" matTooltip="No Tool" [matTooltipPosition]="'right'"  [ngClass]="darkMode  ? 'mat-button-toggle-dark' : ''">
          <mat-icon>cancel</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    
  </div>

  <div class="item " [ngClass]="darkMode  ? 'item-3-dark' : 'item-3'" fxFlex>
    <div *ngIf="drawableItem" class="canvas-container">
      <div *ngIf="dayOrNightMode; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <canvas #canvas class="canvas" (contextmenu)="onRightClick($event)"></canvas>
          
        </ng-template>
        <ng-template #elseBlock>
          <div [ngClass]="hasNightIcon ? '' : 'hidden-canvas'">
            <canvas #canvas class="canvas" (contextmenu)="onRightClick($event)"></canvas>
          </div>
          <div *ngIf="!hasNightIcon">
            <button mat-fab color="primary"  class="fab-main add-btn" [matMenuTriggerFor]="nightIconMenu">
              <mat-icon>add</mat-icon>
            </button>
            <mat-menu #nightIconMenu="matMenu">
              <button mat-menu-item (click)="addNightIconInverse()">
                <mat-icon>invert_colors</mat-icon>
                <span>With Inverse Colors</span>
              </button>
              <button mat-menu-item (click)="addNightIconSameAsDay()">
                <mat-icon>wb_sunny</mat-icon>
                <span>Same As Day Icon</span>
              </button>
              <div *ngIf="!limitToolUse">
                <button mat-menu-item (click)="addEmptyNightIcon()">
                  <mat-icon>format_color_reset</mat-icon>
                  <span>Empty</span>
                </button>
              </div>
            </mat-menu>
          </div>
        </ng-template>
    </div>
  </div>

  <div class="item  color-picker-col" [ngClass]="darkMode  ? 'item-2-dark' : 'item-2'"  fxFlex="20%" >
    <div *ngIf="!hideTools">
      <div class="color-limit">
        <mat-form-field>
          <mat-label [ngClass]="darkMode  ? 'dark-icon' : ''">Color picker</mat-label>
          <mtx-color-picker [(ngModel)]="color" (colorChange)="setColor()" required>
          </mtx-color-picker>
          <mat-icon matSuffix color="primary" [ngClass]="darkMode  ? 'dark-icon' : ''">palette</mat-icon>
          <mat-hint [ngClass]="darkMode  ? 'dark-icon' : ''">Choose your favorite color</mat-hint>
          <mat-error [ngClass]="darkMode  ? 'dark-icon' : ''">Please enter the color</mat-error>
        </mat-form-field>
      </div>
    
      <div *ngIf="limitColors" class="color-limit">
        <mat-button-toggle-group [formControl]="colorOptions">
          <mat-button-toggle *ngFor="let colorVal of colors; index as i" [style.background-color]="colorVal" value={{i}} (click) = "updateColorPicker(colorVal)">Color {{i}}</mat-button-toggle>
        </mat-button-toggle-group>
        <div [ngClass]="darkMode  ? 'dark-icon' : ''">Selected color: {{colorOptions.value}}</div>
      </div>
    </div>

    <div *ngIf="drawableItem" class="map-preview">
      <div *ngIf="dayOrNightMode; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <canvas #canvasMapPreview ></canvas>
        </ng-template>
        <ng-template #elseBlock>
          <div [ngClass]="hasNightIcon ? '' : 'hidden-canvas'">
            <canvas #canvasMapPreview ></canvas>
          </div>
        </ng-template>
    </div>
  </div>
  

</div>


<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="0px"
     fxLayoutGap.xs="0"
>
  <div class="item"  [ngClass]="darkMode  ? 'item-5-dark' : 'item-5'" fxFlex fxFlexOffset.xs="0">
    <div *ngIf="!hideTools">
      <button mat-icon-button [matMenuTriggerFor]="menu2" aria-label="Example icon-button with a menu">
        <mat-icon color="primary" [ngClass]="darkMode  ? 'dark-icon' : ''">settings</mat-icon>
      </button>
      <mat-menu #menu2="matMenu">
        <button mat-menu-item (click) = "changeMode()">
          <mat-icon>dialpad</mat-icon>
          <span>Dark theme</span>
        </button>
      </mat-menu>
    </div> 
  </div>
  <div class="item"  [ngClass]="darkMode  ? 'item-4-dark' : 'item-4'" fxFlex="90%"  fxFlexOffset.xs="0">
    <div *ngIf="!hideTools">
      <button mat-stroked-button color="primary" (click) = "undo()"
    #tooltip="matTooltip" matTooltip="Undo Action" [matTooltipPosition]="'below'" >
      <mat-icon [ngClass]="darkMode  ? 'dark-icon' : ''">undo</mat-icon>
    </button>
    
    <button mat-stroked-button color="primary"  id="undo_redo_btns" (click) = "redo()"
    #tooltip="matTooltip" matTooltip="Redo Action" [matTooltipPosition]="'below'" >
      <mat-icon [ngClass]="darkMode  ? 'dark-icon' : ''">redo</mat-icon>
    </button>

    <input type="file" class="file-input" (change)="handleFileInput($event)" #fileUpload>
  
    <button mat-raised-button color="primary" (click) = "downloadCanvas()"
    #tooltip="matTooltip" matTooltip="Download Canvas" [matTooltipPosition]="'below'" >
      <mat-icon >file_download</mat-icon>
    </button>

    <button mat-raised-button color="primary" (click)="fileUpload.click()"
    #tooltip="matTooltip" matTooltip="Upload Image" [matTooltipPosition]="'below'">
      <mat-icon >file_upload</mat-icon>
    </button>
    </div>
  </div>
</div>
<canvas #canvas2 ></canvas>

<div style="visibility: hidden; position: fixed;" 
            [style.left]="menuTopLeftPosition.x" 
            [style.top]="menuTopLeftPosition.y" 
            [matMenuTriggerFor]="canvasOptions">
</div> 

<mat-menu  #canvasOptions="matMenu">
  <div *ngIf="dayOrNightMode; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <div *ngIf="hasNightIcon; then thenBlock2 else elseBlock2"></div>
          <ng-template #thenBlock2>
            <button mat-menu-item (click) = "clearCanvas()">
              <mat-icon>clear</mat-icon>
              <span>Clear</span>
            </button>
            <button mat-menu-item (click) = "importNightIcon()">
              <mat-icon>dark_mode</mat-icon>
              <span>Import Night Icon</span>
            </button>
          </ng-template>
            
          <ng-template #elseBlock2>
            <button mat-menu-item (click) = "clearCanvas()">
              <mat-icon>clear</mat-icon>
              <span>Clear</span>
            </button>
            <button mat-menu-item disabled>
              <mat-icon>dark_mode</mat-icon>
              <span>Import Night Icon</span>
            </button>
          </ng-template>
          
        </ng-template>
        <ng-template #elseBlock>
          <button mat-menu-item (click) = "clearCanvas()">
            <mat-icon>clear</mat-icon>
            <span>Clear</span>
          </button>
          <button mat-menu-item (click) = "importDayIcon()">
            <mat-icon>light_mode</mat-icon>
            <span>Import Day Icon</span>
          </button>
        </ng-template>
</mat-menu>

<!-- <div *ngIf="dayOrNightMode; then thenBlock else elseBlock"></div> -->
<mat-menu #menu="matMenu">
  <button mat-menu-item (click) = "findNearestColor('Garmin16')">
    <div *ngIf="garminCols.garmin16; then thenBlockGarmin16 else elseBlockGarmin16"></div>
    <ng-template #thenBlockGarmin16>
      <mat-icon matBadge="!" matBadgeColor="warn">palette</mat-icon>
    </ng-template>
    <ng-template #elseBlockGarmin16>
      <mat-icon>palette</mat-icon>
    </ng-template>
    <span>Garmin 16</span>
  </button>
  <button mat-menu-item (click) = "findNearestColor('Garmin64')">
    <div *ngIf="garminCols.garmin64; then thenBlockGarmin64 else elseBlockGarmin64"></div>
    <ng-template #thenBlockGarmin64>
      <mat-icon matBadge="!" matBadgeColor="warn">palette</mat-icon>
    </ng-template>
    <ng-template #elseBlockGarmin64>
      <mat-icon>palette</mat-icon>
    </ng-template>
    <span>Garmin 64</span>
  </button>
  <button mat-menu-item (click) = "findNearestColor('Garmin256')">
    <div *ngIf="garminCols.garmin256; then thenBlockGarmin256 else elseBlockGarmin256"></div>
    <ng-template #thenBlockGarmin256>
      <mat-icon matBadge="!" matBadgeColor="warn">palette</mat-icon>
    </ng-template>
    <ng-template #elseBlockGarmin256>
      <mat-icon>palette</mat-icon>
    </ng-template>
    <span>Garmin 256</span>
  </button>
</mat-menu>




