<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="0px"
     fxLayoutGap.xs="0"
>
    <div class="item item-4" fxFlex="100%"  fxFlexOffset.xs="0">
        <mat-slider
            thumbLabel
            (change)="updateGrid()"
            [displayWith]="formatLabel"
            tickInterval="1000"
            step="1"
            min="10"
            max="70"
            [(ngModel)]="scaleValue"
            color="primary"
            aria-label="units">
        </mat-slider>
    </div>
</div>
<mat-grid-list cols={{gridCols}} rowHeight="1:1" [gutterSize]="'10px'">
    <mat-grid-tile *ngFor="let polyline of polylineList" (click)="openEditor(polyline)">
        <app-bitmap-canvas [drawableItem]="polyline" [scaleValue]="bitmapScale"></app-bitmap-canvas>
        <mat-grid-tile-footer>{{polyline.text.textArr[0].value | uppercase}}</mat-grid-tile-footer>
    </mat-grid-tile>
    
</mat-grid-list>
<button mat-fab color="primary"  class="fab-main" [matMenuTriggerFor]="menu">
    <mat-icon>add</mat-icon>
</button>

<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="addPolyline()">
        <mat-icon>add</mat-icon>
        New Polyline
    </button>
    <button mat-menu-item>
        <mat-icon>merge</mat-icon>
        Merge From File
    </button>
  </mat-menu>
