<h2 mat-dialog-title>Select Texture:</h2>
<mat-dialog-content class="mat-typography">
    <mat-slider
            thumbLabel
            (change)="updateGrid()"
            tickInterval="1000"
            step="1"
            min="10"
            max="70"
            [(ngModel)]="scaleValue"
            color="primary"
            aria-label="units">
    </mat-slider>
      
      <mat-card class="example-card" (click)="select(effectResult.GrayScale)" [ngClass]="{'highlight-tile': highlightTile(effectResult.GrayScale)}">
        <mat-card-title-group>
          <mat-card-title>Gray Filter</mat-card-title>
          <mat-card-subtitle>GrayScale Colors</mat-card-subtitle>
          <app-bitmap-canvas [drawableItem]="icon" [scaleValue]="bitmapScale" 
                            [darken]= "false" [effect]= "effectResult.GrayScale">
          </app-bitmap-canvas>
        </mat-card-title-group>
        <mat-card-content>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card" (click)="select(effectResult.Inverse)" [ngClass]="{'highlight-tile': highlightTile(effectResult.Inverse)}">
        <mat-card-title-group>
          <mat-card-title>Inverse Colors Filter</mat-card-title>
          <mat-card-subtitle>Inverse Colors</mat-card-subtitle>
          <app-bitmap-canvas [drawableItem]="icon" [scaleValue]="bitmapScale" 
                            [darken]= "false" [effect]= "effectResult.Inverse">
          </app-bitmap-canvas>
        </mat-card-title-group>
        <mat-card-content>
        </mat-card-content>
      </mat-card>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" (click) = "applyEffect()">Apply</button>
</mat-dialog-actions>

