<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="0px"
     fxLayoutGap.xs="0"
>
    <div class="item item-5" fxFlex="30%"  fxFlexOffset.xs="0">
        <div *ngIf="delete; then thenBlock2 else elseBlock2"></div>
            <ng-template #thenBlock2>
                <button mat-stroked-button color="primary" (click)="switchToDelete()">
                    <mat-icon>not_interested</mat-icon>
                    Cancel
                </button>

                <button mat-stroked-button color="warn" class="remove-btn" (click)="deleteIcons()">
                    <mat-icon>delete_forever</mat-icon>
                    Remove {{selectedItems.length}} items
                </button>
            </ng-template>
            <ng-template #elseBlock2>
                <button mat-stroked-button color="primary" (click)="switchToDelete()">
                    <mat-icon>delete_forever</mat-icon>
                    Remove Polygones
                </button>
            </ng-template>
    </div>

    <div class="item item-4" fxFlex="70%"  fxFlexOffset.xs="0">
        <mat-slider
            thumbLabel
            (change)="updateGrid()"
            [displayWith]="formatLabel"
            tickInterval="1000"
            step="1"
            min="10"
            max="40"
            [(ngModel)]="scaleValue"
            color="primary"
            aria-label="units">
        </mat-slider>
    </div>
</div>

<div class="icon-grid" (window:resize)="onResize()"> 
    <div *ngIf="delete; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
            <mat-grid-list cols={{gridCols}} rowHeight={{tileHeight}}  [gutterSize]="'10px'">
                <mat-grid-tile *ngFor="let polygone of polygoneList" (click)="select(polygone)" [ngClass]="{'highlight-tile': highlightTile(polygone)}">
                    <div *ngIf="delete">
                        <mat-grid-tile-header class="delete-icon">
                            <mat-icon>delete_forever</mat-icon>
                        </mat-grid-tile-header>
                    </div>
                    <app-bitmap-canvas [drawableItem]="polygone" [scaleValue]="bitmapScale" [darken]= "highlightTile(polygone)"></app-bitmap-canvas>
                    <mat-grid-tile-footer>{{polygone.text.textArr[0].value | uppercase}}</mat-grid-tile-footer>
                </mat-grid-tile>
            </mat-grid-list>
        </ng-template>
        <ng-template #elseBlock>
            <mat-grid-list cols={{gridCols}} rowHeight={{tileHeight}}  [gutterSize]="'10px'">
                <mat-grid-tile *ngFor="let polygone of polygoneList" >
                    <div (click)="openEditor(polygone, 0)" class="tile-content">
                        <app-bitmap-canvas [drawableItem]="polygone" [scaleValue]="bitmapScale" [darken]="false"></app-bitmap-canvas>
                    </div>
                   
                    <mat-grid-tile-footer>
                        {{polygone.text.textArr[0].value | uppercase}}
                        <div class="menu-icon">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                <mat-icon class="menu-icon">more_vert</mat-icon>
                            </button>
                        </div>        
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item  (click)="switchToDelete()">
                            <mat-icon>delete</mat-icon>
                            <span>Remove Icon</span>
                            </button>
                            <button mat-menu-item (click)="openEditor(polygone, 0)">
                            <mat-icon>wb_sunny</mat-icon>
                            <span>Edit Day Icon</span>
                            </button>
                            <button mat-menu-item (click)="openEditor(polygone, 1)">
                            <mat-icon>dark_mode</mat-icon>
                            <span>Edit Night Icon</span>
                            </button>
                            <button mat-menu-item (click)="openEditor(polygone, 2)">
                                <mat-icon>text_fields</mat-icon>
                                <span>Edit Description</span>
                            </button>
                            <button mat-menu-item (click)="openEditor(polygone, 3)">
                                <mat-icon>location_on</mat-icon>
                                <span>Edit Type</span>
                            </button>
                        </mat-menu>
                    </mat-grid-tile-footer>
                </mat-grid-tile>
            </mat-grid-list>
        </ng-template>
</div>  
<button mat-fab color="primary"  class="fab-main" [matMenuTriggerFor]="menu">
    <mat-icon>add</mat-icon>
</button>

<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="addPolygone()">
        <mat-icon>add</mat-icon>
        New Polygone
    </button>
    <button mat-menu-item (click)="fileUpload.click()">
        <mat-icon>merge</mat-icon>
        Merge From File
    </button>
</mat-menu>

<input type="file" class="file-input" (change)="handleFileInput($event)" #fileUpload>

  
