<h2 mat-dialog-title>Resize Polyline:</h2>
<mat-dialog-content class="mat-typography">

  <form [formGroup]="descriptionForm" class="example-form" (ngSubmit)="onFormSubmit()">

    <div *ngIf="withBitmap; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <mat-form-field appearance="fill" class="size-input-width">
        <mat-label>Width</mat-label>
        <input matInput type="number" formControlName="width" placeholder="Ex. 12" min="1" >
        <span matSuffix>px</span>
      </mat-form-field>
      X
      <mat-form-field appearance="fill" class="size-input-height" >
        <mat-label>Height</mat-label>
        <input matInput type="number" formControlName="height" placeholder="Ex. 12" min="1">
        <span matSuffix>px</span>
      </mat-form-field>
    </ng-template>
    <ng-template #elseBlock>
      <div *ngIf="newDimensions.convertToBitmap; then thenBlockConvert else elseBlockConvert"></div>
      <ng-template #thenBlockConvert>
        <mat-checkbox color="primary" formControlName="createBitmap" (change)="changeBitmapState()">Create Bitmap</mat-checkbox>
        <br>
        <mat-form-field appearance="fill" class="size-input-width">
          <mat-label>Width</mat-label>
          <input matInput type="number" formControlName="width" placeholder="Ex. 12" min="1" >
          <span matSuffix>px</span>
        </mat-form-field>
        X
        <mat-form-field appearance="fill" class="size-input-height" >
          <mat-label>Height</mat-label>
          <input matInput type="number" formControlName="height" placeholder="Ex. 12" min="1">
          <span matSuffix>px</span>
        </mat-form-field>
      </ng-template>
      <ng-template #elseBlockConvert>
        <mat-checkbox color="primary" formControlName="createBitmap" (change)="changeBitmapState()">Create Bitmap</mat-checkbox>
        <br>
        <mat-form-field appearance="fill" class="input" >
          <mat-label>Border Width</mat-label>
          <input matInput type="number" formControlName="borderWidth" placeholder="Ex. 12" min="1">
          <span matSuffix>px</span>
        </mat-form-field>
      
        <mat-form-field appearance="fill" class="size-input-height" >
          <mat-label>Line Width</mat-label>
          <input matInput type="number" formControlName="lineWidth" placeholder="Ex. 12" min="1">
          <span matSuffix>px</span>
        </mat-form-field>
      </ng-template>
    </ng-template>
  </form>
   
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" (click)="onFormSubmit()">Apply</button>
</mat-dialog-actions>

